<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Suite">

    <listeners>
        <listener class-name="com.tutorialsninja.automation.framework.RetryRunTime"/>
    </listeners>

    <test name="Test1">

        <classes>
            <class name="com.tutorialsninja.automation.base.BaseTestNg" />
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->

